#root {

}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  border-radius: var(--radius-2);
  padding: var(--space-2);
  background: none;
  box-shadow: var(--shadow-1);
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: var(--space-2);
}

header {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  padding: var(--space-3);

  border-radius: var(--radius-2);
  border-bottom: 1px solid var(--primary-color);
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.196); */
  /* background-image: url('./assets/groovepaper.png'); */
  box-shadow: var(--shadow-3);
}

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: var(--space-2);
  
  border-radius: var(--radius-2);
  border: 1px solid var(--primary-color);
  background-color: var(--sidebar);
  /* background-image: url('./assets/groovepaper.png'); */
  /* box-shadow: 0 0 5px rgb(223, 223, 223); */
  box-shadow: var(--shadow-3);
}

/* theme toggler */
.themeToggler {
  position: absolute;
  left: 0.5rem;

}

.themeToggler button {
  height: 2.5rem;
  border: 0;
  background: none;
}

.sidebar input:focus {
  outline: none;
  border: 1px solid var(--focus-border);
  box-shadow: 0 0 5px var(--focus-shadow);
}

footer {
  padding: var(--space-3);
  margin-top: var(--space-2);
  border: 1px solid var(--primary-color);
  border-radius: var(--radius-2);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-3);
   /* background-image: url('./assets/groovepaper.png'); */
  text-align: center;
}

footer a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: 0.5s ease;
}

footer a:hover {
  font-weight: 600;
  text-decoration: none;
  color: var(--third);
}

header > select, header > input, header > button, header > span input   {
  border: 1px solid var(--primary-color);
  padding: var(--space-2);
  font-size: 0.9rem;
  box-shadow: 0 0 3px var(--primary-color);
}

input::placeholder {
  font-size: 0.8rem;
  padding-left: var(--space-1);
}

header input:focus, header select:focus {
  outline: none;
  border: 1px solid var(--focus-border);
  box-shadow: 0 0 5px var(--focus-shadow);
}

.resetFiltersBtn:enabled:hover {
  background-color: var(--resetAndCancel);
  color: var(--text-invert);
}

.addNewBtn {
  width: 7.5rem;
  background-color: var(--secondary-color);
  color: var(--text-invert);
}

.addNewBtn:hover {
  background-color: var(--third-color);
  color: var(--text-invert);
}

.logoLink {
  text-decoration: none;
  color: var(--secondary-color);
}

.logoLink:hover {
  color: var(--text-main);
}

.sidebarButtonsBlock {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebarButtonsBlock button {
  display: block;
  width: 100%;
  padding: 10px 14px;
  background: var(--surface-light);
  font-size: 1rem;
  color: var(--text-main);
}

.sidebarButtonsBlock  button:hover {
  background-color: var(--third-color);
  color: var(--text-invert);
}

.quickAddBlock {
  display: flex;
  justify-content: center;
  width: 12rem;
}

.quickAddInput {
  border-radius: 5px 0px 0px 5px;
  padding: var(--space-2);
  font-size: 1rem;
  width: 9rem;
  min-height: 2rem;
}

.quickAddBtn {
  background-color: var(--gray-color);
  font-size: 1rem;
  padding: var(--space-2);
  border: 0;
  border-radius: 0px 5px 5px 0px;
  color: var(--text-invert);
}

.quickAddBtn:enabled {
  background-color: var(--secondary-color);
}

.quickAddBtn:enabled:hover {
  background-color: var(--third-color);
}

.searchTask {
  position: relative;
  display: flex;
  align-items: center;
}

.searchTask input{
  width: 9rem;
}

.zoom {
  position: absolute;
  top:0.4em;
  right: 0.5rem;
  color: #a8a8a8;
  pointer-events: none;
}

.searchTask:focus-within .zoom {
  color: dodgerblue;  
}
/*  SIDEBAR TAGS BLOCK */
.tagsDetails {
  width: 15.5rem;
  border-radius: var(--radius-2);
  border: 1px solid var(--primary-color);
}

.tagsBlock {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: var(--space-1);
  gap: var(--space-1);
}

.tagsDetails summary {
  margin: var(--space-2) 0;
  position: relative;
  text-align: left;
  padding: 0 var(--space-2);
}

.gearTags {
  position: absolute;
  top: -0.1rem;
  right: 0.3rem;
}

.gearTags button {
  border: 0;
  background: none;
  color: var(--text-main);
}

.gearTags > button:hover {
  transform: scale(1.2);
  color: var(--secondary-color);
}

.tagBtn {
  padding: 0.3rem;
  background-color: var(--surface-light);
  color: var(--text-main);
  border: 1px solid var(--primary-color)
}

.tagBtn:hover {
  background-color: var(--third-color);
  color: var(--text-invert);
}

.tagEnabled {
    background-color: var(--secondary-color);
    color: var(--text-invert);
}

.undoBtn {
  border-radius: var(--radius-1);
  border: 0;
}

