#root {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  border-radius: 5px;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

header {
  display: flex;
  gap: 1em;
  justify-content: space-evenly;
  padding: 1em;

  border-radius: 5px;
  border-bottom: 1px solid lightgrey;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.196);
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  
  border-radius: 5px;
  border: 1px solid rgb(188, 191, 192);
  background-color: rgb(242, 243, 244);
}

.sidebar input:focus {
  outline: none;
  border: 1px solid rgb(255, 184, 30);
  box-shadow: 0 0 5px rgba(238, 138, 7, 0.645);
}

.main {
  display: flex;
  width: 100%;
  margin-left: 0.5em;
  flex-direction: column;
}

.footer {
  padding: 1em;
  margin-top: 0.3em;
  border: 1px solid rgb(188, 191, 192);
  border-radius: 5px;
}

header > select, header > input, header > button  {
  padding: 0.5em;
  border: 1px solid lightgray;
  padding: 0.6em;
  border-radius: 5px;
  font-size: 1rem;
  line-height: 1.2;
  box-shadow: 0 0 5px rgb(219, 218, 218);
  transition: 0.4s ease-in-out;
}

header > select {
  max-width: 150px;
}

input::placeholder {
  font-size: 0.8em;
}

header button:enabled:hover {
  background-color: crimson;
  color: white;
}

header input:focus, header select:focus {
  outline: none;
  border: 1px solid dodgerblue;
  box-shadow: 0 0 5px dodgerblue;
}

/*        sidebar start       */
.logoLink {
  text-decoration: none;
  color: rgb(205, 111, 2);
}

.sidebarButtonsBlock {
  display: flex;
  flex-direction: column;
  gap:1em;
}

.sidebarButtonsBlock > button {
  min-height: 2.2rem;
  padding: 0.5em;

  background-color: rgba(239, 239, 239, 0.873);
  border: 1px solid rgb(172, 171, 169);
  border-radius: 5px;
  transition: 0.5s ease;
}

.sidebarButtonsBlock> button:hover {
  background-color: rgba(255, 136, 0, 0.873);
  color: white;
}

.quickAddBlock {
  display: flex;
  justify-content: center;
  width: 200px;
}

.quickAddInput {
  border-radius: 5px 0px 0px 5px;
  border: 1px solid lightgray;
  padding: 0.5em;
  font-size: 1rem;
  width: 150px;
  min-height: 20px;
}

.quickAddBtn {
  background-color: rgb(103, 102, 102);
  font-size: 1rem;
  border: 0;
  border-radius: 0px 5px 5px 0px;
  color: white;
  transition: 0.5s ease;
}

.quickAddBtn:enabled {
  background-color: rgba(255, 136, 0, 0.873);
}

.quickAddBtn:enabled:hover {
  background-color: rgba(224, 97, 12, 0.91);
  cursor: pointer;
}

/*        sidebar ende        */

.addNewBtn {
  width: 120px;
  background-color: rgba(255, 102, 0, 0.873);
  padding: 0.5em;
  /* background: none; */
  border: 1px solid rgb(172, 171, 169);
  border-radius: 5px;
  transition: 0.5s ease;
  min-height: 2.2rem;
  color: white;
}

.addNewBtn:hover {
  background-color: rgba(209, 96, 4, 0.873);
  color: white;
}
 