:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary-color: #d3d3d3;
  --gray-color: #8c8c8c;
  --lightgray-color: #F3F4F6;
  --darkgray-color: #545964;
  --secondary-color:#c95000;
  --secondary-color-hover:#151515;
  --success-background: #026702;
  --warning-color: #FFBF00;
  --sidebar-color: #f2f3f4;
  --focus-border: #1e90ff;
  --focus-shadow: #1e90ff;
  --danger-background: #dc143c;
  --white-text: #ffffff;
  --black-text: #000000;
  --text-hover: #fff;
  --danger-text: #dc143c;
  --reset-background: #6e6d6d;
  --tr-even: #edf5fa;
  --tr-hover: #e2fafa;
  --bg-white: #fff;
  --completed: #8c8c8c;
    box-sizing: border-box;

      /* радиусы */
  --radius-1: 4px;
  --radius-2: 8px;

   /* отступы */
  --space-1: 0.25rem;  /* 4px */
  --space-2: 0.5rem;   /* 8px */
  --space-3: 1rem;     /* 16px */
  --space-4: 1.5rem;   /* 24px */
  --space-5: 2rem;     /* 32px */

  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

@font-face {
  font-family: "Metrophobic";
  src: url("/Fonts/Metrophobic-Regular.woff2") format("woff2"),
      url("/Fonts/Metrophobic-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  overflow-y: scroll;
  font-family: "Metrophobic", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

select, button, input {
  font-family: Metrophobic;
}

button, input, select {
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  transition: background-color .2s, border-color .2s, color .2s, transform .2s;
}

button:enabled:hover {
  color: var(--text-hover);
}

button {
  background: none;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

button, select, input {
  /* max-height: 40px;
  border-radius: 5px;
  padding: 0.5em;
  border: 1px solid var(--primary-color);
  transition: 0.5s; */
}